// COLORS
$white: #ffffff;
$black: #000000;
$blackOpacity: #0000001a;
$blackDisabled: #0000009e;
$red: #ff0000;
$redOpacity: #ff000030;

// DISPLAY WIDTHS
$mobileSmall: 425px;
$mobile: 500px;
$mobileLarge: 600px;
$tablet: 768px;
$displaySmall: 900px;
$displayLarge: 1440px;
